{% assign local_url = site.img_url | append: "/" | append: include.file %}
{% assign external_url = include.external_url %}
{% assign alt = include.alt %}
{% assign caption = include.caption %}
{% assign source_link = include.source_link %}
{% assign half_width = include.half_width %}

<figure{% if half_width %} class="image--half"{% endif %}>
    <img src="{{ external_url | default: local_url }}"
         alt="{{ alt }}"
         title="{{ alt }}"
         loading="lazy">
    {% if caption or source_link %}
    <figcaption>
        {{ caption }}{% if caption and source_link %} / {% endif %}{% if source_link %}<a href="{{ source_link }}" target="_blank" rel="noopener">Source</a>{% endif %}
    </figcaption>
    {% endif %}
</figure>
