{% assign base_edit_url = 'https://github.com/vermont42/racecondition.software/edit/master/_posts/' %}

{% assign issue_date = page.date | date: "%Y-%m-%d" %}
{% assign page_title = page.url | remove: '/blog/' | remove: '/' %}
{% assign file_name = issue_date | append: '-' | append: page_title | append: '.md' %}

{% assign edit_url = base_edit_url | append: file_name %}

<div class="post-share">
    <div class="post-share__links">
        <a class="post-share__link" href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}%20{{ site.url }}{{ page.url }}%20via%20@{{ site.author.twitter }}" target="_blank" rel="noopener">Share on Twitter</a>
        <a class="post-share__link" href="https://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" rel="noopener">Share on Facebook</a>
        <a class="post-share__link" href="/feed.xml">RSS</a>
        <a class="post-share__link" href="/feed.json">JSON Feed</a>
    </div>
    <p class="post-share__feedback">
        <b>Questions? Feedback? Corrections?</b><br>
        Open an <a href="{{ open_issue_url }}" target="_blank" rel="noopener">issue</a>,
        submit a <a href="{{ site.links.pull }}" target="_blank" rel="noopener">pull request</a>,
        or <a href="{{ edit_url }}" target="_blank" rel="noopener">edit</a> this post.
    </p>
</div>
