<!--
Sources:
https://duckduckgo.com/search_box
https://muffinresearch.co.uk/adding-a-duckduckgo-search-box-to-your-blog/
-->

<div class="search">
    <form name="search" action="//duckduckgo.com/" class="search__form">
        <input type="search" class="search__input" placeholder="Search via DuckDuckGo" name="q">
        <input type="hidden" value="racecondition.software" name="sites">
        <input type="hidden" value="1" name="kh">
        <input type="hidden" value="1" name="kn">
        <input type="hidden" value="1" name="kac">
        <input type="hidden" value="1" name="kc">
        <button class="search__button" type="submit">Search</button>
    </form>
</div>
